[Unit]
Description=Apache Kafka
Requires=network.target remote-fs.target zk.service
After=network.target remote-fs.target zk.service

[Service]
Type=simple
PIDFile=/var/run/kafka.pid
WorkingDirectory=/opt/kafka
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
Restart=on-failure
SyslogIdentifier=kafka

[Install]
WantedBy=multi-user.target

